
    
    <%- include('partials/header') %>
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
          
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-card login-dark">
                    <div>
                        <div><a class="logo" href="/">
                            <img class="img-fluid for-light" src="/images/new-logo.png" alt="looginpage">
                            <img class="img-fluid for-dark m-auto" src="/images/logo_white.png" alt="logo">
                        </a>
                        <div class="login-main">
                            <form class="theme-form" method="POST" action="/complete-signin">
                        
                                                                              
                                  <h4 class="f-w-500">Change Password</h4>
                        
                                  <div class="form-group">
                                    <label class="col-form-label">Password</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control password" type="password"
                                            name="password" required placeholder="*********"
                                            autocomplete="current-password">
                                        <div class="show-hide"><span class="show"> </span></div>
                                        <% if(typeof error !== 'undefined'){ %>
                                            <span class="" role="alert">
                                                <strong><%= error %></strong>
                                            </span>
                                            <% } %>
                                                                            </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Confirm Password</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control confirmPassword" type="password"
                                            name="confirm_password" required placeholder="*********"
                                            autocomplete="current-password">
                                        <div class="show-hide-confirm"><span class="show"> </span></div>
                                     
                                            <span style="color: #c42a02;" class="passwordError" role="alert">
                                                <strong></strong>
                                            </span>
                                      
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-end">
                                        <button class="btn btn-primary" type="submit" style="inline-size: -webkit-fill-available;">Change Password</button>
                                    </div>
                                </div>
                 
                            </form>

                            <div class="form-group mt-3">
                                <a href="/signin" class="text-center nav-link">
                                    <p>
                                        <i class="fa fa-long-arrow-left"></i>
                                        Back to Login Page
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- page-wrapper end-->

  
    <%- include('partials/footer') %>

