  <!-- jquery-->
  <script src="/js/jquery.min.js"></script>

  <!-- bootstrap js-->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/config.js"></script>
  
      <script src="/js/password.js"></script>
  
  <!-- custom script -->
  <script src="/js/script.js"></script></body>
  </html>
  