<!DOCTYPE html>
<html lang="en" >

<head>
    
    <meta name="csrf-token" content="PKmT1k1dKy3vIFjKnCoi0zQ6t3NNn5pRaJC39E8W">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover New Eastern Hotels &ndash; your destination for luxury stays, comfortable rooms, &amp; exclusive deals. Book your hotel reservations online today and enjoy premium amenities, flexible check-ins, &amp; unforgettable experiences.">
    <meta name="keywords" content="hotel booking, luxury hotels, New Eastern Hotels, online reservations, affordable rooms, hotel deals, vacation rentals, business travel accommodation">
    <meta name="author" content="New Eastern Hotels">
    <meta name="robots" content="index, follow">
    <title>New Eastern Hotels | Luxury Rooms & Suites</title>
    <!-- Favicon icon-->
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

 
    <!-- Font awesome icon css -->
<link rel="stylesheet" href="/css/all.css">
<link rel="stylesheet" href="/css/fontawesome.css">
<link rel="stylesheet" href="/css/brands.css">
<link rel="stylesheet" href="/css/solid.css">
<link rel="stylesheet" href="/css/regular.css">

<!-- Ico Icon css -->
<link rel="stylesheet" type="text/css" href="/css/icofont.css">

<!-- Flag Icon css -->
<link rel="stylesheet" type="text/css" href="/css/flag-icon.css">
<link rel="stylesheet" type="text/css" href="/css/dropzone.css">

    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/datatables.css">
    <link rel="stylesheet" type="text/css" href="/css/nestable-style.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.css">
<!-- Themify Icon css -->
<link rel="stylesheet" type="text/css" href="/css/themify.css">

<!-- Animation css -->
<link rel="stylesheet" type="text/css" href="/css/animate.css">

<!-- Whether Icon css-->
<link rel="stylesheet" type="text/css" href="/css/weather-icons.min.css">

<!-- App css-->
<link rel="preload" as="style" href="/css/style-BQ9xLEwC.css" />
<link rel="stylesheet" href="/css/style-BQ9xLEwC.css" data-navigate-track="reload" />
<link rel="stylesheet" href="/css/custom.css" data-navigate-track="reload" />
<link id="color" rel="stylesheet" href="/css/color-1.css" media="screen">

<!-- Toastr css -->
<link rel="stylesheet" type="text/css" href="/css/toastr.min.css">
</head>

        <body>

    <!-- tap to top starts-->
    <div class="tap-top">
        <svg class="feather">
            <use href="/icons/feather-sprite.svg#arrow-up"></use>
        </svg>
    </div>
    <!-- tap to tap ends--> 

    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <!-- loader end-->

    <!-- page-wrapper Start-->
    <main class="page-wrapper compact-wrapper" id="pageWrapper">

        <!-- Page header start -->
        <header class="page-header row">
    <div class="logo-wrapper d-flex align-items-center col-auto"><a href="/"><img class="for-light"
                src="/images/new-logo.png" alt="logo"><img class="for-dark"
                src="/images/logo_white.png" alt="logo"></a>
                <h4>NECHGR</h4>
                <a class="close-btn"
            href="javascript:void(0)">
     
            <div class="toggle-sidebar">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </a></div>
    <div class="page-main-header col">
        <div class="header-left d-lg-block d-none">
     
        </div>
        <div class="nav-right">
            <ul class="header-right">
                <li class="modes d-flex"><a class="dark-mode">
                        <svg class="svg-color">
                            <use href="/icons/iconly-sprite.svg#Moon"></use>
                        </svg></a></li>
         
                <!-- Notification menu-->
                <li class="custom-dropdown"><a href="javascript:void(0)">
                        <svg class="svg-color circle-color">
                            <use href="/icons/iconly-sprite.svg#Bell"></use>
                        <!-- </svg></a><span class="badge rounded-pill badge-secondary">3</span> -->
                        </svg></a><span class="badge rounded-pill badge-secondary"></span>
                    <div class="custom-menu notification-dropdown py-0 overflow-hidden">
                        <h5 class="title bg-primary-light">Notifications <a href="javascript:void(0)"><span
                                    class="font-primary">View</span></a></h5>
                        <ul class="activity-update">
                            <!-- <li class="d-flex align-items-center b-l-primary">
                                <div class="flex-grow-1"> <span>Just Now</span><a href="/notifications/id">
                                        <h5>What`s the project report update?</h5>
                                    </a>
                                    <h6>Rick Novak</h6>
                                </div>
                                <div class="flex-shrink-0"> <img class="b-r-15 img-40"
                                        src="/images/avatar/10.jpg" alt=""></div>
                            </li> -->

                            <!-- <li class="d-flex align-items-center b-l-primary"> -->
                                <!-- <div class="flex-grow-1"> <span>Just Now</span> -->
                                    <!-- <a href="/notifications/id"> -->
                                        <h6>No Notification Available</h6>
                                    <!-- </a> -->
                                  
                                <!-- </div> -->
                                <!-- <div class="flex-shrink-0"> <img class="b-r-15 img-40"
                                        src="/images/avatar/10.jpg" alt=""></div> -->
                            <!-- </li> -->
<!--                         
                            <li class="mt-3 d-flex justify-content-center">
                                <div class="button-group"><a class="btn btn-secondary" href="/notification">All
                                        Notification</a></div>
                            </li> -->
                        </ul>
                    </div>
                </li>
        
        
      
                <li class="profile-dropdown custom-dropdown">
                    <div class="d-flex align-items-center">
                        <% if(typeof user !== 'undefined' && user.profile_pic){ %>
                            <img src="<%= user.profile_pic %>" alt="">
                        <% }else{ %>
                            <img src="/images/profile.png" alt="">
                        <% } %>
                        <div class="flex-grow-1">
                            <% if(typeof user !== 'undefined'){ %>
                            <h5><%= user.first_name %></h5>
                            <span><%= user.Role.name %></span>
                            <% } %>
                        </div>
                    </div>
                    <div class="custom-menu overflow-hidden">
                        <ul>
                            <li class="d-flex">
                                <svg class="svg-color">
                                    <use href="/icons/iconly-sprite.svg#Profile"></use>
                                </svg><a class="ms-2" href="/edit-profile">My Profile</a>
                            </li>
                       
                            <li class="d-flex">
                                <svg class="svg-color">
                                    <use href="/icons/iconly-sprite.svg#Login"></use>
                                </svg><a class="ms-2" href="/signout">Sign Out</a>

                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
        <!-- Page header end-->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">


