            <!-- Page sidebar start-->
            <div class="overlay"></div>
            <aside class="page-sidebar" data-sidebar-layout="stroke-svg">
    <div class="left-arrow" id="left-arrow">
        <svg class="feather">
            <use href="/icons/feather-sprite.svg#arrow-left"></use>
        </svg>
    </div>
    <div id="sidebar-menu">
        <ul class="sidebar-menu" id="simple-bar">
            <li class="pin-title sidebar-list p-0">
                <h5 class="sidebar-main-title">Pinned</h5>
            </li>
            <li class="line pin-line"></li>
            <li class="sidebar-main-title">General</li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Home"></use>
                    </svg><span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/calendar-basic">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Calendar"></use>
                    </svg><span>Bookings</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Document"></use>
                    </svg><span>Laravel Example</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/role">
                                <svg class="svg-menu">
                                    <use href="/icons/iconly-sprite.svg#right-3"></use>
                                </svg>Roles Management
                            </a>
                        </li>
                                                                <li><a href="https://larathemes.pixelstrap.com/edmin/admin/user">
                                <svg class="svg-menu">
                                    <use href="/icons/iconly-sprite.svg#right-3"></use>
                                </svg>Users Management
                            </a>
                        </li>
                                        <li><a href="https://larathemes.pixelstrap.com/edmin/admin/blog">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Blogs Management
                        </a>
                    </li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/category">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Categories Management
                        </a>
                    </li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/tag">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Tags Management
                        </a>
                    </li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/page">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Pages Management
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Pie"></use>
                    </svg><span>Widgets</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/general-widget">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>General</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/chart-widget">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Chart</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Document"></use>
                    </svg><span>Page Layout</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/box-layout">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Box Layout</a>
                    </li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/rtl-layout">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>RTL</a>
                    </li>
                    <li>
                        <a href="https://larathemes.pixelstrap.com/edmin/admin/dark-layout">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Dark</a>
                    </li>
                </ul>
            </li>
            <li class="line"> </li>
            <li class="sidebar-main-title">Applications</li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Info-circle"></use>
                    </svg><span>Project</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/project-list">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Project List</a></li>
                    <li> <a href="https://larathemes.pixelstrap.com/edmin/admin/project-create">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Create New</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/file-manager">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Paper"></use>
                    </svg><span>File Manager</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/kanban">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Wallet"></use>
                    </svg><span>Kanban Board</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Bag"></use>
                    </svg><span>Ecommerce</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/products">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Product</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/product-page">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Product Page </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/add-products">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Add Product </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/list-products">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Product List</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/payment-details">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Payment Details </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/order-history">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Order History </a></li>
                    <li><a class="submenu-title" href="javascript:void(0)">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Invoice
                            <svg class="feather">
                                <use
                                    href="/icons/feather-sprite.svg#chevron-right">
                                </use>
                            </svg></a>
                        <ul class="according-submenu">
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/invoice-1">
                                    Invoice-1</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/invoice-2">
                                    Invoice-2</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/invoice-3">
                                    Invoice-3</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/invoice-4">
                                    Invoice-4</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/invoice-5">
                                    Invoice-5</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/invoice-6">
                                    Invoice-6</a></li>
                        </ul>
                    </li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/cart">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Cart </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/list-wish">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Wishlist </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/checkout">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Checkout </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/pricing">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Pricing</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/letter-box">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Message"></use>
                    </svg><span>Letter Box</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Chat"></use>
                    </svg><span>Chat</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/chat-private">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Private Chat</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/chat-group">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Group Chat</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Profile"></use>
                    </svg><span>Users</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/profile">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>User Profile</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/cards">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>User Cards</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/bookmark">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Bookmark"></use>
                    </svg><span>Bookmarks</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/contacts">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Contacts"></use>
                    </svg><span>Contacts</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/task">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Tick-square"></use>
                    </svg><span>Tasks </span></a>
            </li>
       
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/social-app">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Camera"></use>
                    </svg><span>Social App </span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/to-do">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Edit"></use>
                    </svg><span>To-Do </span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/search">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Search"></use>
                    </svg><span>Search Result</span></a>
            </li>
            <li class="line"></li>
            <li class="sidebar-main-title">Components</li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/buttons">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#More-box"></use>
                    </svg><span>Buttons </span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Folder"></use>
                    </svg><span>Ui Kits</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/typography">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Typography</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/avatars">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Avatars</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/grid">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Grid</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/helper-classes">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Helper Classes</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/pills-tag">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Tag & Pills</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/progress-bar">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Progress</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/popover">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Popover</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/tooltip">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Tooltip</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/alert">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Alert</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/modal">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Modal</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/dropdown">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Dropdown</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/according">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Accordion</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/tabs">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Tabs</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/list">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Lists</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Ticket-star"></use>
                    </svg><span>Bonus Ui</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/scrollable">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Scrollable </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/breadcrumb">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Breadcrumb</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/pagination">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Pagination</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/ribbons">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Ribbons</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/tree">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Tree View</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/toasts">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Toast</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/rating">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Rating</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/dropzone">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Dropzone</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/tour">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Tour</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/sweet-alert2">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Sweetalert2</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/animation-modal">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Animated Modal</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/sliders">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Slider</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/range-slider">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Range Slider</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/image-cropper">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Image Cropper</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/basic-card">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Basic Card</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/creative-card">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Creative Card</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/dragable-card">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Draggable Card</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/timeline">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Timeline</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Category"></use>
                    </svg><span>Animation</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/wow">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Wow Animation</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/aos">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>AOS Animation</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Activity"></use>
                    </svg><span>Icons</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/flag-icon">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Flag Icon</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/font-awesome">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Fontawesome Icon</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/feather-icon">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Feather Icon</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/iconly-icon">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Iconly Icon</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/ico-icon">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Ico Icon</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/themify-icon">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Themify icon</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/whether-icon">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Whether Icon</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Chart"></use>
                    </svg><span>Charts</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/chart-apex">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Apexchart</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/chartist">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Chartist</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/chartjs">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Chartjs</a></li>
                </ul>
            </li>
            <li class="line"></li>
            <li class="sidebar-main-title">Forms & table</li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Filter"></use>
                    </svg><span>Form Controls</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/base-input">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Base Input</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/radio-checkbox-control">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Check & Radio Box</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/input-group">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Input Groups</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/megaoptions">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Mega Options</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/form-validation">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Form validation</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Scan"></use>
                    </svg><span>Form Widgets</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/datepicker">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Date picker </a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/touchspin">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Touchspin</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/select2">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>select 2</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/switch">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Switch</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/typeahead">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Typeahead</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/clipboard">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Clipboard</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Icon-plus"></use>
                    </svg><span>Form Layout</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/form-wizard">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Form wizard 1</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/two-form-wizard">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Form wizard 2</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/two-factor">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Two Factor</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Edit-line"></use>
                    </svg><span>Tables</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a class="submenu-title" href="javascript:void(0)">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Bootstrap Table
                            <svg class="feather">
                                <use
                                    href="/icons/feather-sprite.svg#chevron-right">
                                </use>
                            </svg></a>
                        <ul class="according-submenu">
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/bootstrap-basic-table">
                                    Basic Tables</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/table-components">
                                    Table Components</a></li>
                        </ul>
                    </li>
                    <li><a class="submenu-title" href="javascript:void(0)">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Data Tables
                            <svg class="feather">
                                <use
                                    href="/icons/feather-sprite.svg#chevron-right">
                                </use>
                            </svg></a>
                        <ul class="according-submenu">
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/datatable-basic-init">
                                    Basic Init</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/datatable-advance-init">
                                    Advance Init</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/datatable-api">
                                    API</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/datatable-data-source">
                                    Data Sources</a></li>
                        </ul>
                    </li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/datatable-ext-autofill">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Ex. Data Tables</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/jsgrid-table">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Js Grid Table</a></li>
                </ul>
            </li>
            <li class="line"> </li>
            <li class="sidebar-main-title">Pages</li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/sample-page">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Paper-plus"></use>
                    </svg><span>Sample Page</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/translate">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Play"></use>
                    </svg><span>Translate</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Password"></use>
                    </svg><span>Others</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a class="submenu-title" href="javascript:void(0)">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Error Page
                            <svg class="feather">
                                <use
                                    href="/icons/feather-sprite.svg#chevron-right">
                                </use>
                            </svg></a>
                        <ul class="according-submenu">
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/error-page1">
                                    Error Page 1</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/error-page2">
                                    Error Page 2</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/error-page3">
                                    Error Page 3</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/error-page4">
                                    Error Page 4</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/error-page5">
                                    Error Page 5</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/error-page6">
                                    Error Page 6</a></li>
                        </ul>
                    </li>
                    <li><a class="submenu-title" href="javascript:void(0)">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Authentication
                            <svg class="feather">
                                <use
                                    href="/icons/feather-sprite.svg#chevron-right">
                                </use>
                            </svg></a>
                        <ul class="according-submenu">
                            <li><a href="https://larathemes.pixelstrap.com/edmin/login">
                                    Login simple</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/login-one">
                                    Login With Bg Image</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/login-two">
                                    Login With Image Two</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/login-bs-validation">
                                    Login With Validation</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/login-bs-tt-validation">
                                    Login With Tooltip</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/login-sa-validation">
                                    Login With Sweetalert</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/sign-up">
                                    Register Simple</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/sign-up-one">
                                    Register With Bg Image</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/sign-up-two">
                                    Register With Image Two</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/sign-up-wizard">
                                    Register Wizard</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/unlock">
                                    Unlock User</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/forget-password">
                                    Forget Password</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/reset-password">
                                    Reset Password</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/maintenance">
                                    Maintenance</a></li>
                        </ul>
                    </li>
                    <li><a class="submenu-title" href="javascript:void(0)">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Coming Soon
                            <svg class="feather">
                                <use
                                    href="/icons/feather-sprite.svg#chevron-right">
                                </use>
                            </svg></a>
                        <ul class="according-submenu">
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/comingsoon">
                                    Coming Simple</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/comingsoon-bg-video">
                                    Coming With Bg Video</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/comingsoon-bg-img">
                                    Coming With Bg Image</a></li>
                        </ul>
                    </li>
                    <li><a class="submenu-title" href="javascript:void(0)">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Email Template
                            <svg class="feather">
                                <use
                                    href="/icons/feather-sprite.svg#chevron-right">
                                </use>
                            </svg></a>
                        <ul class="according-submenu">
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/basic-template">
                                    Basic Email</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/email-header">
                                    Basic With Header</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/template-email">
                                    Ecomerce Template</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/template-email-2">
                                    Email Template 2</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/ecommerce-templates">
                                    Ecommerce Email</a></li>
                            <li><a href="https://larathemes.pixelstrap.com/edmin/admin/email-order-success">
                                    Order Success </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="line"> </li>
            <li class="sidebar-main-title">MISCELLANEOUS</li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Gallery"></use>
                    </svg><span>Gallery</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/gallery">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Gallery Grid</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/with-description">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Gallery Grid Desc</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/masonry">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Masonry Gallery</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/swith-disc-masonry">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Masonry With Desc</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/hover">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Hover Effects</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Game"></use>
                    </svg><span>Blog</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/details-blog">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Blog Details</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/single-blog">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Blog Single</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/add-post">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Add Post</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/faq">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Danger"></use>
                    </svg><span>FAQ</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Filter-2"></use>
                    </svg><span>Job Search</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/job-cards-view">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Cards View</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/job-list-view">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>List View</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/job-details">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Job Details</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/job-apply">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Apply</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Work"></use>
                    </svg><span>Learning</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/learning-list-view">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Learning List</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/learning-detailed">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Detailed Course</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="pinned-icon">
                        <use href="/icons/iconly-sprite.svg#Pin"></use>
                    </svg>
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Discovery"></use>
                    </svg><span>Maps</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/data-map">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Data Maps</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/vector-map">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Vector Maps</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="javascript:void(0)">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Shield"></use>
                    </svg><span>Editors</span>
                    <svg class="feather">
                        <use href="/icons/feather-sprite.svg#chevron-right">
                        </use>
                    </svg></a>
                <ul class="sidebar-submenu">
                    <li> <a href="https://larathemes.pixelstrap.com/edmin/admin/quill-editor">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>Quilljs Editor</a></li>
                    <li><a href="https://larathemes.pixelstrap.com/edmin/admin/ace-code-editor">
                            <svg class="svg-menu">
                                <use href="/icons/iconly-sprite.svg#right-3"></use>
                            </svg>ACE Code Editor</a></li>
                </ul>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/knowledgebase">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Setting"></use>
                    </svg><span>Knowledgebase</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="https://larathemes.pixelstrap.com/edmin/admin/support-ticket">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Ticket"></use>
                    </svg><span>Support Ticket</span></a>
            </li>
        </ul>
    </div>
    <div class="right-arrow" id="right-arrow">
        <svg class="feather">
            <use href="/icons/feather-sprite.svg#arrow-right"></use>
        </svg>
    </div>
</aside>
<!-- Page sidebar end-->