            <!-- Page sidebar start-->
            <div class="overlay"></div>
            <aside class="page-sidebar" data-sidebar-layout="stroke-svg">
    <div class="left-arrow" id="left-arrow">
        <svg class="feather">
            <use href="/icons/feather-sprite.svg#arrow-left"></use>
        </svg>
    </div>
    <div id="sidebar-menu">
        <ul class="sidebar-menu" id="simple-bar">
            <li class="pin-title sidebar-list p-0">
                <h5 class="sidebar-main-title">Pinned</h5>
            </li>
            <li class="line pin-line"></li>
            <li class="sidebar-main-title">General</li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Home"></use>
                    </svg><span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/bookings">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Calendar"></use>
                    </svg><span>Bookings</span></a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/rooms">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Ticket-star"></use>
                    </svg><span>Rooms</span>
          
                </a>
          
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/addons">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Filter-2"></use>
                    </svg><span>Addons</span>
            
                </a>
        
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/complaints">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Message"></use>
                    </svg>
                    <span>Complaints</span>
            
                </a>
        
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/employees">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Profile"></use>
                    </svg><span>Employees</span>
                 
                </a>
           
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/customers">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#User"></use>
                    </svg><span>Customers</span>
                 
                </a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/housekeeping">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Calendar"></use>
                    </svg><span>House Keeping</span>
                 
                </a>
            </li>
            <li class="sidebar-list">
                <svg class="pinned-icon">
                    <use href="/icons/iconly-sprite.svg#Pin"></use>
                </svg><a class="sidebar-link" href="/roles">
                    <svg class="stroke-icon">
                        <use href="/icons/iconly-sprite.svg#Shield"></use>
                    </svg><span>Roles</span>
               
                </a>
          
            </li>
      
        </ul>
    </div>
    <div class="right-arrow" id="right-arrow">
        <svg class="feather">
            <use href="/icons/feather-sprite.svg#arrow-right"></use>
        </svg>
    </div>
</aside>
<!-- Page sidebar end-->