<%- include('partials/header') %>
<%- include('partials/sidenav') %>

            <div class="page-body">
                <div class="container-fluid">
  <div class="row page-title">
      <div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>401</h1>
			<h2>Oops! Unauthorized!</h2>
			<p>Sorry but you are not authorized to view the page or perforn the action you are trying to do.</p>
			<a href="/">Back to homepage</a>
		</div>
	</div>
  </div>
</div>


            </div>
            
   
               <!-- footer start-->
               <%- include('partials/footer') %>


            </div>
          </main>
                 
                  
                  
          <%- include('partials/script') %>
    
  

</body>
</html>
